.mypy_cache
*/__pycache__
.gitignore
.pre-commit-config.yaml
.pylintrc
docker-compose.*
Dockerfile
*.egg-info
.env*
build
dist
.gitlab-ci.yml
Dockerfile.api
Dockerfile.catalyticfoam
Dockerfile.singularity
cmdline-config.yml
*.sif
*/data
